<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Utilities.ListenerClass"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Tests.LoginTest" />
			<class name="Tests.TemplateCreatorTest" />
			<class name="Tests.FormContactsCreatProjectTest" />
			<class name="Tests.PersonaltyTemlapteTest" />
			<class name="Tests.QuizTemplateNStatistycsTest" />
			<class name="Tests.EditProjectTest" />
			<class name="Tests.IQTemlapteTest" />
			<class name="Tests.BaseTest" />
			<class name="Tests.CalcTemlapteTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
